@font-face {
  font-family: "Cascadia Code PL";
  src: url("CascadiaCodePL.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@media only screen and (min-width: 1000px) {
  main {
    margin-left: 14vw;
    margin-bottom: 5vw;
    width: 50vw;
  }
}

pre,
code {
  font-family: "Cascadia Code PL";
}

ul li a {
  font-family: "Cascadia Code PL";
}

section header p {
  font-weight: bold;
  font-size: larger;
  text-align: center;
}

nav {
  height: 100%;
  width: 12vw;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #dcdcdc;
  color: black;
  text-align: center;
}

.footer p {
  display: inline-block;
  padding-right: 1em;
}

.footer a {
  color: #b22222;
}
